@media only screen and (max-width: 1200px) {
    .bg {
        width: auto;
        height: auto;
        transform: scale(1.5, 1.5);
    }
    body {
        overflow-y: visible;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 630px) {
    .info p {
        font-size: 30px
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 1200px) {
    .bg {
        width: auto;
        height: auto;
        transform: scale(1.5, 1.5);
    }
    body {
        overflow-y: visible;
    }
}
@media only screen and (max-width: 630px) {
    .info p {
        font-size: 30px
    }
}